<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humano</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="mx-3">
    <form th:action="@{/enviar-formulario}" method="POST">
       <input type="text" name="cliente" th:value="${clienteold}">
       <br>
       <input type="text" name="profesion" th:value="${profesionold}">
       <br>
       <button type="submit">enviar</button>
    </form>
    <h1 th:if="${cliente!=null and profesion!=null}" th:text="${'CLIENTE: '+cliente+' | PROFESION: '+profesion}" class="text-primary"></h1>

    <div class="alert alert-danger mt-2" th:if="${errors}">
       <ul th:each="error : ${errors}">
         <li th:text="${error}"></li>
       </ul>
    </div>
    <div class="container mt-3">
       <div class="table-responsive">
         <table class="table table-bordered table-striped">
           <thead>
             <tr>
              <th>ID</th>
              <th>PERSONA</th>
              <th>EDAD</th>
              <th>PROFESION</th>
              <th>ESTADO</th>
              <th>ACCIONES</th>
             </tr>
           </thead>
           <tbody>
             <td colspan="6" th:if="${#lists.isEmpty(humanos)}">
               <span class="text-danger">No hay datos</span>
             </td>
             <tr th:each="p : ${humanos}" th:unless="${#lists.isEmpty(humanos)}">
               <td th:text="${p.getId()}"></td>
               <td th:text="${(p.getApellido()+' '+p.getNombre()).toUpperCase()}"></td>
               <td th:text="${p.getEdad()}"></td>
               <td th:text="${p.getProfesion()}"></td>
               <td>
                 <span class="badge bg-success" th:if="${p.isEstado()}">HABILITADO</span>
                 <span class="badge bg-danger" th:unless="${p.isEstado()}">DESHABILITADO</span>
               </td>
               <td>
                 <button class="btn btn-danger" th:if="${p.isEstado()}">eliminar</button>
                 <button class="btn btn-success" th:unless="${p.isEstado()}">activar</button>
               </td>
             </tr>
           </tbody>
         </table>
       </div>
    </div> 
</body>
</html>